body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

/* Header Banner */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem; /* More space left and right */
  background: linear-gradient(to right, #a1ffce, #faffd1); /* soft turquoise */
}

/* Text Area Inside Banner */
.hero-text {
  max-width: 60%;
  padding-left: 1rem; /* space from left edge */
}

.hero h1 {
  font-size: 2.5rem;
  margin: 0;
}

.tagline {
  margin: 0.5rem 0
